/* Inicio contacto */

h2{
    color: white;
    font-family: open sans, sans-serif;
    font-size:30px;
    text-align: center;
    margin-top:30px;
}

form{
    margin-left: 40px;
    width: 300px;
    margin-left:15px;
    & p{
        color: white;
        font-family: open sans, sans-serif;
        font-size:15px;
    }
}


input{
  width: 25%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
label{
    padding: 12px 12px 12px 0;
    display: inline-block;

}


.formcontainer{
  clear: both;
  margin: 0 auto;
  width: 350px;
  & input {
    width: 100%;
    clear: both;
    border-radius: 15px;
}
& textarea {
    width: -webkit-fill-available;
    border-radius: 15px;
    
}
}
 

input[type=submit] {
    background-color:$primary;
    color: rgb(253, 250, 250);
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 15px;
    margin-top: 25px;
}

input[type=submit]:hover{
    background-color:$succes;
    color: black;
}

#gmap{
    width: 50%;
    display: inline-block;
    vertical-align: top;
    border-radius: 15px;
    margin-top:30px;
    margin-bottom:30px;


}
#mapa {
    border: 10px solid;
    border-color: $primary $secondary $succes $info;
    margin-left: 10px;
    width: 325px;
    height: 250px;
    border-radius: 15px;
}

/* Fin contacto */

 /* Inicio contacto */

 @media (min-width: 992px){
        
 h2{
    margin-left:150px;
    margin-top:30px;
    text-align: left;
}

.formcontainer{
    padding: 15px;
    margin-left: 50px;
    width:100%;
}

form{
    width:500px;
    display: inline-block;
}


#gmap{
    margin-left: 50px;
}
#mapa {
    float: right;
    width: 720px;
    height: 550px;
}
}

/* fin contacto */