/* Mobile */

.home {
  width: 100vw;

  &-row {
    width: 100%;
    justify-content: center;
    margin: 0;
  }

  &-element {
    height: auto;
    max-width: 90%;

    & span {
      height: auto;
      font-size: 30px;
      width: 100%;
    }
  }
}

.isologo {
  margin-top: 100px;
  text-align: center;

  &-text {
    text-align: center;
  }
}


span {
  display: inline-block;
  font-family: monospace;
  white-space: nowrap;
  width: 15ch;
  color: white;
  font-size: 50px;
  margin-top: 20px;
  animation: typing 2s steps(15), blink 1s infinite step-end alternate;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.neon {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}



@media (min-width: 768px) {
  .isologo {
    margin-top: 25%;
  }
}

@media (min-width: 992px) {
  .isologo {
    margin-top: 10%;
  }
}

/* Fin mobile */