/* Mobile */


.titulo-h1 h1 {
    font-family: open sans, sans-serif;
    color: white;
    text-align: center;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    height: 150px;
    background-size: cover;
    padding: 30px;
    margin-bottom: 80px;
}

.card-title {
    color: white;

}


.card {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    &-text {
        color: white;
    }
}

.juegos-container {
    text-align: -webkit-center;
    margin-bottom: 50px;
    width: 90vw;
}

.comentarios__carrousel__cita {
    color: white;
    font-family: open sans, sans-serif;

    &__juan {
        color: $primary;
    }

    &__olivia {
        color: $secondary
    }

    &__santiago {
        color: $info;
    }
}


.carousel-inner {
    width: 75%;
    margin: 0 auto;
}

.comentarios {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 20px;
    margin-top: 100px;

    & h4 {
        font-size: 40px;
        height: 50px;
        color: white;
        margin-bottom: 200px;
        padding-top: 20px;


    }

}

#slider-reviews {
    margin-bottom: 50px;
}


/* Fin Moblie */

/* Tablet */

@media (max-width: 992px) and (min-width: 768px) {
    .titulo-h1 h1 {
        font-size: 45px;
    }

    .juegos-container {
        width: 100vw;
    }
}

/* Fin tablet */
/* Desktop */

@media (min-width: 992px) {

    .titulo-h1 h1 {
        font-size: 60px;
        height: 200px;
        padding: 70px;
        margin-bottom: 100px;
    }

    .comentarios {
        font-size: 20px;
        margin-top: 100px;

        & h4 {
            font-size: 50px;
            height: 100px;
            margin-bottom: 50px;
        }
    }

    .card {
        width: 80%;
    }

    .juegos-container {
        width: 100%;
    }
}

/* Fin desktop */