/* Mobile */

.nosotros {
    text-align: center;
    border-radius: 10px;
    margin-top: 80px;


    & ul {
        padding-left: 1rem;
    }


    & p {
        text-align: center;
        width: 307px;
        color: white;
        font-family: open sans, sans-serif;
        font-size: 30px;
        margin-bottom: 30px;

    }

    & h3 {
        color: white;
        font-family: open sans, sans-serif;
        text-align: center;
        margin-bottom: 10px;
        font-size: 25px;
    }

    & a {
        color: white;
    }

}

.titulo {
    background-color: rgba(0, 0, 0, 0.7);
    height: 150px;
    background-size: cover;
    padding: 30px;

    & h1 {
        font-size: 30px;
        text-align: center;
        color: white;
    }
}

.subtitulo_nosotros {
    color: white;
    text-align: center;
    font-size: 50px;
    margin-top: 80px;
}

.historia {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.4);

}

.historia p {
    font-size: 15px;
    margin: 0 auto;
    color: white;
    width: 100%;
    padding: 20px;

}

.fotos__nosotros {
    display: inline-block;
    margin-bottom: 30px;
    text-align: center;

}

.gonzalo__foto {
    border-radius: 50%;
    border: solid 5px $info;
    @include box-shadow(1);

    & a {
        background-color: $info;
    }
}

.ariel__foto {
    @include box-shadow(2);
    border: 5px solid $secondary;
    border-radius: 50%;

    & a {
        background-color: $secondary;
    }
}

.marianoso__foto {
    @include box-shadow(3);
    border: 5px solid $primary;
    border-radius: 50%;

    & a {
        background-color: $primary;


    }

}

.fotos__nosotros--info {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 50px;
}


.fotos__nosotros__gonzalo--boton {
    background-color: $info;
    border-color: $info;

    &:hover {
        background-color: $succes;
        border-color: $succes;
        color: black;
    }
}


.fotos__nosotros__aiel--boton {
    background-color: $secondary;
    border-color: $secondary;

    &:hover {
        background-color: $succes;
        border-color: $succes;
        color: black;
    }
}

.fotos__nosotros__marianoso--boton {
    background-color: $primary;
    border-color: $primary;

    &:hover {
        background-color: $succes;
        border-color: $succes;
        color: black;
    }
}


/* Fin mobile */

/* Tablet */

@media (max-width: 992px) and (min-width: 768px) {

    .titulo h1 {
        font-size: 45px;
    }

    .historia p {
        font-size: 25px;

    }

    .fotos__nosotros {
        display: flex;
        flex-direction: column;
        width: 70%;
    }

    .nosotros {
        margin-left: 20%;

        & a {
            font-size: 20px;
        }
    }
}

/* Fin tablet */

/* Desktop */
@media (min-width: 992px) {


    .titulo {
        height: 200px;
        padding: 70px;

        & h1 {
            font-size: 60px;
        }
    }


    .historia {
        display: flex;
        flex-direction: row;
    }

    .historia p {
        font-size: 24px;
        padding: 50px;
        width: 70%;

    }


    .nosotros {
        text-align: -webkit-center;
        margin-top: 100px;

        & h3 {
            text-align: center;
        }
    }
}

.fotos__nosotros--info {
    margin-left: 20px;
    margin-right: 20px;
}