.container-fluid {
    position: sticky;
    top: 0;
    z-index: 1;
}

.ul {
    justify-content: space-evenly;
}


.nav-link {
    color: white;
}

.navbar-toggler {
    margin-right: 20px;

    &-icon {
        width: 35px;
        height: 35px;
        padding: 10px;
    }
}

.nav-item a:hover {
    color: $succes;
    text-decoration: underline;

}

.header,
.row {
    padding: 0;
}


.container-fluid {
    padding: 0;
    margin: 0;
    width: 100%;
}


.font-navbar {
    font-size: 30px;
    font-family: open sans, sans-serif;
}

.navbar-brand {
    padding: 10px;
}






@media (min-width: 992px) {


    .nav-item {
        margin-right: 0;
    }
}